* {
	margin: 0; 
	padding:  0;
	box-sizing: border-box
}

html, body {
	width: 100%;
	height: 100%;
	font-size: 100%;
}

.encabezado {
	display: flex;
	background-color: rgb(31, 78, 120);
	padding-left: 10px;
}

.nombre {
	display: inline-block;
	flex: 1.1;
	margin-top: 15px;
	color: white;
}

.nombre h1 {
	display: inline-block;
	flex: 1.1;
	color: white;
	font-family: Garamond, serif;
	font-size: 2.5em;
}

.nombre p {
	flex: 1.1;
	margin-bottom: 2px;
	color: white;
	font-style: italic;
	font-family: 'Times New Roman', serif;
}

.redes {
	margin-right: 15px;
	color: white;
}

.presentación p {
	font-size: 20px;
	padding: 10px;
	background-color: #DDEBF7;
}


.Avances {
	display: flex;
	flex-direction: row;
}


.Proyectos a {
	text-decoration: none;
}

.Proyectos p {
	text-align: justify;
	padding-left: 50px;
	font-family: 'Helvetica', serif;
	padding-top: 5px;
}

.Proyectos h2 {
	text-decoration: none;
	padding-left: 50px;
	margin-top: 10px;
	color: #1F4E78;
}

.Proyectos h1 {
	background-color: #7B7B7B;
	text-indent: 50px;
	color:  white;
}

.Avances h1 {
	margin-bottom: 4px;
	margin-top: 6px;
}



.programas {
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	display: grid ;
	margin-left: 12px;
	margin-right: 12px;
	background-color: lightgray;

}

.programas p {
	font-size: 1em !important;
	padding:  0.5em;
	font-weight: bold;
	display:  flex;
	flex-direction: column;
	align-items: center;
	color: black !important;
	margin-left: 0px !important;
	margin-top: 0px !important;
}

div p:nth-child(1) {
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
	margin-left: 12px;
	font-size: 20px;
	margin-top: 20px;

}

footer {
	background-color: #EDEDED;
	bottom: 0;
	padding:  20px;
	margin-top:  80px;
	width: 100%;
	color: black;
	font-weight: bold;
}

@media (max-width: 700px){
	.Avances {
		flex-direction: column;
	}
}

/*
.nombre h1 {
	font-family: Optima;
	font-size: 3em;
}

.nombre p {
	font-size: 1em;
	vertical-align: middle;
}

.nombre {
	box-sizing: border-box;
	position: relative;
	vertical-align: middle;
	flex-wrap: wrap;
}


.redes p {
	text-align: right;
	padding: 3px 3px;
}

.iconos img {
	display:  flex;
	display:  inline-block;
	flex-direction: row-reverse;
}


.redes {
	display:  inline-block;
	box-sizing: border-box;
	position: relative;
	justify-content: flex-end;
}

.encabezado {
	box-sizing: border-box;
	color:  white;
	background-color: rgb(31, 78, 120);
	display:  flex;
	flex-basis: 100%;
}

.programas {
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	display: grid ;

}

.programas p {
	font-size: 1em;
	padding:  0.5em;
	display:  flex;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
}

.sectprog p {
	color: black;
    font-size: 1.25em;
    font-weight: bold;
    margin: 0;
    margin-bottom: 1.25em;
}

*/

